.headerContent {
  display: flex;
  height: 400px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #296de3;
  color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds.png");
}

.avatar {
  margin-top: auto;
}

@media screen and (min-width: 768px) {
  
  
  .bodyAndHeader {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    margin-left: 1rem;
    margin-right: 2rem;
  }
  
  .headerContent {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-right: 20px;
    height: 300px;
    width: 300px;
    border-radius: 10px;
  }
}